/* Estilos gerais */
body {
  font-family: Arial;
  margin: 40px;
}

h1, p {
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

p, span {
  font-size: 20px;
}

img {
  border-radius: 4px;
  max-width: 100%;
}

a.comprar {
  background: #a8f;
  border-radius: 4px;
  color: #103;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  display: grid;
}

span.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}



div.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

h1.titulo {
  grid-column: 1/-1
}

div.info {
  place-self: start;
  display: grid;
  place-items: start;
  gap: 20px;
}