/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  background-color: #f1f1f1;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  color: #3a3939;
  font-size: 20px;
}

/* CONTAINER */
.container {
  height: 100vh;
  margin: 0 auto;
  max-width: 1000px;
}

/* CABECALHO */
.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;  
}

/* LOGO */
.logo img {
  margin-top: 60px;
}

/* MENU */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  margin-bottom: 60px;

  & a {
    background-color: #ffffff;
    border-radius: 5px;
    color: #161515;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 8px 30px;
  }
}

/* PRINCIPAL */
.principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

/* INFO BIKCRAFT */
.info-bikcraft {
  background-color: #ffffff;
  padding: 60px;
  
  display: grid;
  grid-template-rows: 1fr;
  justify-items: end;
  gap: 10px;  
}

.descricao-bikcraft {
  text-align: end;
  word-wrap: break-word;
}

/* BOTÃO */
.ver-mais {
  background-color: #ee2211;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Fira Sans", serif;
  font-size: 20px;
  margin-top: 15px;
  padding: 12px 32px;
}






.imagem-bikcraft {
  width: 500px;
  height: 370px;
  
  & img {
    max-width: 100%;
  }
}


/* DETALHE */
/* .detalhe {
  background-color: #ee2211;
  border-radius: 2px;
  height: 4px;
  width: 60px;
  
  position: absolute;
  top: 50px;
  left: 427px;
} */


/* >>> aula 0303 Align e Justify Content */