/* GLOBAL */
@import "../css/global/global.css";
@import "../css/global/header.css";
@import "../css/global/footer.css";

/* HOME */
@import "../css/home/introducao.css";
@import '../css/home/tecnologia.css';
@import "../css/home/parceiros.css";
@import "../css/home/depoimento.css";

/* UTILIDADES */
@import "../css/utilidades/componentes.css";
@import "../css/utilidades/tipografia.css";
@import "../css/utilidades/cores.css";

/* BICICLETAS */
@import "../css/bicicletas/bicicletas-lista.css";
@import "../css/bicicletas/bicicletas.css";

/* BICICLETA */
@import "../css/bicicleta/bicicleta.css";
@import "../css/bicicleta/seguro.css";

/* SEGUROS */
@import "../css/seguros/seguro.css";
@import '../css/seguros/vantagens.css';
@import "../css/seguros/perguntas.css";

/* TERMOS */
@import "../css/termos/termos.css";





